/API/MoneyTransactions.Api/.idea/.idea.MoneyTransactions.Api/.idea/.gitignore
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/appsettings.Development.json
/API/MoneyTransactions.Api/MoneyTransactions.Api/appsettings.json
/API/MoneyTransactions.Api/MoneyTransactions.Api/Data/AspNetCoreIdentityDbContext.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/Controllers/AuthController.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/Services/AuthenticationService.cs
/API/MoneyTransactions.Api/.idea/.idea.MoneyTransactions.Api/.idea/indexLayout.xml
/API/MoneyTransactions.Api/MoneyTransactions.Api/Controllers/InfoController.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/Properties/launchSettings.json
/API/MoneyTransactions.Api/MoneyTransactions.Api/Models/LoginUser.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/Debug/net8.0/MoneyTransactions.Api.AssemblyInfo.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/Debug/net8.0/MoneyTransactions.Api.AssemblyInfoInputs.cache
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/Debug/net8.0/MoneyTransactions.Api.assets.cache
/API/MoneyTransactions.Api/MoneyTransactions.Api/MoneyTransactions.Api.csproj
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/Debug/net8.0/MoneyTransactions.Api.csproj.AssemblyReference.cache
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/MoneyTransactions.Api.csproj.nuget.dgspec.json
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/MoneyTransactions.Api.csproj.nuget.g.props
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/MoneyTransactions.Api.csproj.nuget.g.targets
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/Debug/net8.0/MoneyTransactions.Api.GeneratedMSBuildEditorConfig.editorconfig
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/Debug/net8.0/MoneyTransactions.Api.GlobalUsings.g.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/MoneyTransactions.Api.http
/API/MoneyTransactions.Api/MoneyTransactions.Api.sln
/API/MoneyTransactions.Api/MoneyTransactions.Api/Program.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/project.assets.json
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/project.nuget.cache
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/project.packagespec.json
/README.md
/API/MoneyTransactions.Api/MoneyTransactions.Api/Models/RegisterUser.cs
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/rider.project.model.nuget.info
/MoneyTransactions.Api/MoneyTransactions.Api/obj/rider.project.model.nuget.info
/API/MoneyTransactions.Api/MoneyTransactions.Api/obj/rider.project.restore.info
/API/MoneyTransactions.Api/.idea/.idea.MoneyTransactions.Api/.idea/vcs.xml
